<%- include('partials/header'); %>
<ul>
            <div>
        
                <img src="<%=pro.path%>" alt="name">
                <p><%=pro.name%></p>
                <p><%=pro.price%></p>
              
                
            </div>
    
</ul>
</body>
</html>