<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <script src="./es6.js" type="module"></script> -->
    <!-- document.write(pi) -->
    <img src="static/1752875754976Screenshot_20250628-012503_082204.png" />
	<img src="static/1752940982467IMG_20250416_145113.jpg"  class="card-img-top" alt="this">   
</body>
</html>
