<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
        

            <a href="/users/1">
                <button type="menu">users</button>
            </a>
            
            <input type="button" value="1234" />
       
       
</body>
</html>
{p_id:1,name:'laptop',price:3000,colour:'black'},{p-:2,name:'lipstck',price:300,colour:'green'}