<footer class="text-center mt-5">
     <div class="card text-center; m-t15">
     <div class="card-body">
       <h5 class="card-title">All Right Reserved To Bait-Us-Salam Tech Park</h5>
     </div>
     </div>
   </footer>

